// Colors
$white = #fff;
$border-gray = #717371;
$dark-gray = #333;
$vibrant-gray = #3b3b3b;
$medium-gray = #666;
$light-gray = #ccc;
$pale-gray = #eaeaea;
$light-blue = #0096dc;
$bright-blue = #00caf2;
$shiny-blue = #00aacc;
$blood-red = #A50606;

// Page
$bg-color = $pale-gray;
$grain-bg-color = $vibrant-gray;

// Button Colors
$button-bg-color = $white;
$button-bg-color2 = $light-gray;
$button-text-color = $dark-gray;
$button-focus-color = $light-blue;

$button-border-color = darken($button-bg-color, 40%);
$button-border-color-disabled = darken($button-bg-color2, 2.5%);
$button-bg-color-disabled = darken($button-bg-color, 9.5%);
$button-text-shadow-color = $button-bg-color;
$button-text-color-disabled = darken($button-bg-color2, 2.5%);

// Call To Action Button
$button-cta-bg-color = $bright-blue;
$button-cta-bg-color2 = $shiny-blue;
$button-cta-border-color = darken($button-cta-bg-color, 40%);
$button-cta-border-color-disabled = darken($button-cta-bg-color2, 2.5%);
$button-cta-bg-color-disabled = darken($button-cta-bg-color, 9.5%);
$button-cta-text-color = $button-text-color;
$button-cta-text-shadow-color = lighten($button-cta-bg-color, 10%);
$button-cta-text-color-disabled = darken($button-cta-bg-color2, 2.5%);

$full-error-text-color = $white;
