// Page
$bg-color = #e7e7e7;
$grain-bg-color = #3b3b3b;

// Button Colors
$button-bg-color = #ffffff;
$button-bg-color2 = #cccccc;
$button-text-color = #333333;
$button-focus-color = #0096dc;

$button-border-color = darken($button-bg-color, 40%);
$button-border-color-disabled = darken($button-bg-color2, 2.5%);
$button-bg-color-disabled = darken($button-bg-color, 9.5%);
$button-text-shadow-color = $button-bg-color;
$button-text-color-disabled = darken($button-bg-color2, 2.5%);

// Call To Action Button
$button-cta-bg-color = #00caf2;
$button-cta-bg-color2 = #00aacc;
$button-cta-border-color = darken($button-cta-bg-color, 40%);
$button-cta-border-color-disabled = darken($button-cta-bg-color2, 2.5%);
$button-cta-bg-color-disabled = darken($button-cta-bg-color, 9.5%);
$button-cta-text-color = $button-text-color;
$button-cta-text-shadow-color = lighten($button-cta-bg-color, 10%);
$button-cta-text-color-disabled = darken($button-cta-bg-color2, 2.5%);

// Full Screen Error
$full-error-text-color = #fff;
$border-gray = #717371;
$dark-gray = #333;
$medium-gray = #666;
