{% extends "base.html" %}
{% block title %}Purchase{% endblock %}

{% block header %}
<header>
  <h1>Purchase</h1>
</header>
{% endblock %}

{% block main %}
  <dl>
    <dt>Product</dt>
    <dd>{{ product.name }}</dd>
    <dt>Seller</dt>
    <dd>{{ seller.name }}</dd>
    <dt>Price</dt>
    <dd>{{ trans.currency }} {{ trans.price }}</dd>
    <dt>Method</dt>
    <dd>{{ trans.pay_method }}</dd>
    <dt>Region</dt>
    <dd>{{ trans.region }}</dd>

    <form method="post" action="{{ processUrl }}">
      <input type="submit" value="Complete A Fake Payment">
    </form>

  </dl>
{% endblock %}
