{% extends "base-styleguide.html" %}
{% block title %}Buttons{% endblock %}

{% block main %}
  <h1>Buttons</h1>
  <p>This page contains an example of buttons in a footer</p>
  <p>Buttons have modifiers which change their colour.</p>

  <h2>Button element Buttons</h2>
  <button class="button">Default Button</button>
  <button class="button" disabled>Default Button (disabled)</button>
  <button class="button cta">Call To Action (.cta)</button>
  <button class="button cta" disabled>Call To Action (.cta) (disabled)</button>

  <h2>Link-based buttons</h2>
  <a href="#" class="button">Default Button</a>
  <a href="#"  class="button" disabled>Default Button (disabled)</a>
  <a href="#"  class="button cta">Call To Action (.cta)</a>
  <a href="#" class="button cta" disabled>Call To Action (.cta) (disabled)</a>

  <p>See also <a href="two-buttons">Two Buttons (Button elements)</a> and <a href="two-buttons-link">Two Buttons (Links)</a>for how to group buttons in the footer.</p>
{% endblock %}
