{% extends "base-styleguide.html" %}
{% block title %}Two Buttons Longtext Check (JS){% endblock %}

{% block main %}
  <h1>Two Buttons Longtext Check (JS)</h1>
  <p>This page contains an example of buttons in a footer</p>
  <p>Buttons have modifiers which change their colour. See <a href="buttons">Buttons</a> for more details.</p>

  <a href="#" class="toggle" data-toggle-selector=".more" data-toggle-text="Show less content">Show more content</a>
  <p class="more hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor erat purus, et pellentesque nulla placerat sit amet. Mauris mi lorem, facilisis in facilisis tempor, aliquam a quam. Suspendisse tempus ante non tortor eleifend ultrices. Donec volutpat mi in erat molestie laoreet. Etiam vel tempus felis. Nullam pharetra rhoncus nulla consequat lacinia. Duis consectetur ac ante ut consequat. Aliquam bibendum hendrerit est egestas eleifend.</p>

{% endblock %}

{% block footer %}
  <div class="buttons">
    <button class="button ltchk">Cancel</button>
    <button class="button cta ltchk">Really long OK button text</button>
  </div>
{% endblock %}
