{% extends "base-styleguide.html" %}
{% block title %}Two Buttons{% endblock %}

{% block main %}
  <h1>Heading</h1>
  <p>This page contains an example of buttons in a footer</p>
  <p>Buttons have modifiers which change their colour.</p>

  <a href="#" class="toggle" data-toggle-selector=".more" data-toggle-text="Show less content">Show more content</a>
  <p class="more hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor erat purus, et pellentesque nulla placerat sit amet. Mauris mi lorem, facilisis in facilisis tempor, aliquam a quam. Suspendisse tempus ante non tortor eleifend ultrices. Donec volutpat mi in erat molestie laoreet. Etiam vel tempus felis. Nullam pharetra rhoncus nulla consequat lacinia. Duis consectetur ac ante ut consequat. Aliquam bibendum hendrerit est egestas eleifend.</p>

  <p class="more hidden">Aliquam pellentesque nunc magna, a commodo ipsum fermentum at. Vestibulum consectetur vulputate porttitor. Nullam ultrices hendrerit odio a venenatis. Quisque molestie orci et tincidunt pellentesque. Aliquam vitae ultricies lorem. Duis et dolor nec libero tempus aliquet quis nec orci. Pellentesque leo nulla, rutrum eu posuere sed, pellentesque vel ante. Nulla lobortis quis ligula in aliquet. Aenean at pellentesque urna. Vestibulum in pretium libero. Vivamus sed lorem ut felis fringilla sagittis nec nec lectus. Nulla semper urna sed lacus pellentesque, eget vehicula magna pulvinar. Fusce tempus gravida pretium.</p>
{% endblock %}

{% block footer %}
  <div class="buttons">
    <button class="button">Cancel</button>
    <button class="button cta">Continue</button>
  </div>
{% endblock %}
