{% extends "base-styleguide.html" %}

{% block title %}Typography{% endblock %}

{% block main %}

  <h1>Typography</h1>

  <p>Here follows examples of all the typography settings</p>

  <h2>Headings</h2>
  <div class="styles">
    <h1>Heading level 1</h1>
    <h2>Heading level 2</h2>
    <h3>Heading level 3</h3>
    <h4>Heading level 4</h4>
  </div>

  <h2>Paragraphs</h2>
  <div class="styles">
    <p>A paragraph of text. Nothing particularly interesting about that.</p>
    <p>Another paragraph of text. Nothing particularly interesting about that.</p>
  </div>


  <h2>Links</h2>
  <div class="styles">
    <p><a href="#">This is a standard link</a></p>
  </div>


{% endblock %}
