.throbber {
    // This will normally be overlaid hence it needs it's own background.
    background: rgba(244, 244, 244, 0.9);
    bottom: 0;
    grain();
    left: 0;
    padding-top: 80px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    &:before {
        background: transparent embedurl('throbber-53.gif') no-repeat 50% 50%;
        content: '';
        display: block;
        height: 53px;
        margin: 0 auto;
        width: 53px;
    }

    span {
        display: block;
        margin: 1em auto 0;
        max-width: 320px;
        text-align: center;
    }
}
