/* This style is for the documentation only */

// Note: See the Grunt.js file for what's automatically imported.

@import 'lib/normalize';
@import '_fonts';

html {
    background: $bg-color;
    font-family: "Fira Sans";
    font-size: 15px;
    padding: 10px;
}

body {
    background: #fff;
    border-radius: 7px;
    color: #333;
    font-weight: 300;
    margin: 0 auto;
    padding: 20px;
    max-width: 700px;
}

h1 {
    font-size: 50px;
}

h1, h2, h3, h4, h5 {
    font-family: "Fira Sans";
    font-weight: 400;
    margin: 0.5em 0;
}

h1 {
    margin-top: 0;
    font-weight: 300;
}

pre, code {
    font-family: "Fira Mono";
    font-weight: 500;
}

p {
    line-height: 1.5em;
}

p:last-child {
    margin-bottom: 0;
}

pre {
    background: #000;
    color: #CCC;
    padding: 1em;
}

li {
    line-height: 1.5em;
}

