/* These are styles just for the styleguide */

.styleguide {

    .styles {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        margin: 10px 0;
        padding: 10px;
        overflow: hidden;
    }

}
