/* Zippy: Payments reference stylesheet */

@import 'normalize';
@import 'fonts';
@import 'lib';

@import 'throbber';

html, body {
	background: $bg-color;
	height: 100%;
	margin: 0;
}

main {
	max-width: 700px;
	margin: 0 auto;
	padding: 10px;
}
