  <div class="grid">
    {% set product_image_url='/images/placeholder/ctr.png' %}
    <img class="product-image" src="{{ product_image_url }}" alt="" />
    <section class="product">
      <h2 class="title">{{ product.name }}</h2>
      <p class="author">{{ seller.name }}</p>
      <p class="total">{{ gettext('Total') }} ({{ trans.currency }}): <span class="price">{{ trans.price }}</span><a class="ref" href="#ref">*</a></p>
      <p id="ref" class="ref-desc">{{ gettext('Includes taxes') }}</p>
    </section>
  </div>

