  <div class="product">
    <div class="image">
    {% if trans.product_image_url %}
      <img src="{{ trans.product_image_url }}" alt="Logo" />
    {% else %}
      <img src="/images/placeholder/logo.png" alt="Logo" />
    {% endif %}
    </div>
    <section class="meta">
      <h2 class="title">{{ product.name }}</h2>
      <p class="author">{{ seller.name }}</p>
      <p class="total">{{ gettext('Total') }} ({{ trans.currency }}): <span class="price">{{ trans.price }}</span><a class="ref" href="#ref">*</a></p>
      <p id="ref" class="ref-desc">{{ gettext('Includes taxes') }}</p>
    </section>
  </div>

