  <div class="grid">
    {% if trans.product_image_url %}
      <img class="product-image" src="{{ trans.product_image_url }}" alt="Logo" />
    {% else %}
      <img class="product-image" src="/images/placeholder/logo.png" alt="Logo" />
    {% endif %}
    <section class="product">
      <h2 class="title">{{ product.name }}</h2>
      <p class="author">{{ seller.name }}</p>
      <p class="total">{{ gettext('Total') }} ({{ trans.currency }}): <span class="price">{{ trans.price }}</span><a class="ref" href="#ref">*</a></p>
      <p id="ref" class="ref-desc">{{ gettext('Includes taxes') }}</p>
    </section>
  </div>

