{% extends "base-payments.html" %}

{% block main %}
  <h1>Confirm Payment</h1>

  {% include "_product.html" %}

  <hr/>

  <form class="cc-form">

    <div class="flex-container">
      <div class="row">
        <label for="cc-num" class="S-visually-hidden">Credit Card Number</label>
        <input class="cc-num" id="cc-num" type="text" pattern="\\d{4} \\d{4} \\d{4} \\d{4}" value="" placeholder="Card Number" />
      </div>
    </div>

    <div class="flex-container">
      <div class="col">

        <div class="flex">
          <label for="expiry">Expires</label>
          <input id="expiry" type="text" maxlength="" pattern="\d{2}/\d{2}" size="5" value="" placeholder="MM/YY" />
        </div>

        <div class="flex">
          <label for="postcode" class="S-visually-hidden">Post-code</label>
          <input id="postcode" sclass="postcode" type="text" maxlength="" value="" placeholder="Post-code" />
        </div>

      </div>

      <div class="col">

        <div class="flex">
          <label for="cvc">CVC</label>
          <input id="cvc" type="text" maxlength="3" size="3" pattern="\d{3}" value="" placeholder="123" />
        </div>

        <div class="flex checkbox">
          <input type="checkbox" value="1" name="save-card" id="save-card"  />
          <label class="no-wrap right save-card" for="save-card">Save card</label>
        </div>

      </div>

    </div>
  </form>

  {% include "_footer.html" %}

{% endblock %}

{% block footer %}
  {% include "_buttons.html" %}
{% endblock %}
