{% extends "base-payments.html" %}

{% block main %}
  <h1>{{ gettext('Confirm Payment') }}</h1>

  {% include "_product.html" %}

  <hr/>

  <form class="cc-form" method="POST">

    <div class="flex-container">
      <div class="row">
        <label for="cc-num" class="S-visually-hidden">{{ gettext('Credit Card Number') }}</label>
        <input class="cc-num" size="20" id="cc-num" name="cc-num" x-inputmode="digit" type="text" pattern="\d{4} \d{4} \d{4} \d{4}" value="" placeholder="{{ gettext('Card Number') }}" />
      </div>
    </div>

    <div class="flex-container">
      <div class="col">

        <div class="flex">
          <label for="expiry">{{ gettext('Expires') }}</label>
          <input id="expiry" name="expiry" type="text" x-inputmode="digit" maxlength="" pattern="\d{2}/\d{2}" size="5" value="" placeholder="MM/YY" />
        </div>

        <div class="flex">
          <label for="postcode" class="S-visually-hidden">{{ gettext('Post-code') }}</label>
          <input id="postcode" class="postcode" type="text" maxlength="" value="" placeholder="{{ gettext('Post-code') }}" />
        </div>

      </div>

      <div class="col">

        <div class="flex">
          <label for="cvc">{{ gettext('CVC') }}</label>
          <input id="cvc" type="text" x-inputmode="digit" maxlength="3" size="3" pattern="\d{3}" value="" placeholder="123" />
        </div>

        <div class="flex checkbox">
          <label class="no-wrap right save-card" for="save-card">{{ gettext('Save card') }}</label>
          <input class="right" type="checkbox" value="1" name="save-card" id="save-card" />
        </div>

      </div>

    </div>
  </form>

  {% include "_footer.html" %}

{% endblock %}

{% block footer %}
  {% include "_buttons.html" %}
{% endblock %}
