@import 'fonts';

body {
    background: rgb(231, 231, 231);
}

main {
    margin: 2em auto;
    padding: 2em;
    width: 700px;
    color: rgb(51, 51, 51);
    font-size: 15px;
    font-weight: 400;
    border-radius: 1em;
    background: #fff;
}

h1 {
    font-family: "Fira Sans";
    font-weight: 300;
}

h2 {
    font-family: "Fira Sans";
    font-weight: 500;
}

pre, code {
    font-family: "Fira Mono";
    font-weight: 600;
}

pre {
    padding: 1em;
    background: #000;
    color: #CCC;
}

p, li {
    font-family: "Fira Sans";
    font-weight: 400;
}
