{% extends "base.html" %}

{% block bodyattrs %} class="error"{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="/css/zippy.css">
{% endblock %}

{% block main %}
  <h1>{{ statusCode }}: {{ name }}</h1>
  <div class="msg">
    <h2>{{ error }}</h2>

    {% if explanation or response %}
    <dl>
      {% if explanation %}
        <dt>Explanation</dt>
        <dd>{{ explanation }}</dd>
      {% endif %}
      {% if explanation %}
        <dt>Response</dt>
        <dd>{{ response }}</dd>
      {% endif %}
    </dl>
    {% endif %}

    {% if stack %}
    <ul id="stacktrace">
      {%  for line in stack %}
      <li>{{ line }}</li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>
{% endblock %}
